/* Materialize specific */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b3e5fc;
}

::-webkit-scrollbar-thumb {
  background: #039be5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer {
  padding-left: 300px;
}

main {
  padding-left: 300px;
  flex: 1 1 auto;
}

main img {
  max-width: 80%;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

nav,
footer {
  background-color: #039be5 !important;
}

.footer-copyright {
  padding-left: 0.75rem !important;
}

.sidenav .card {
  line-height: 1em;
  margin: 0;
}

.sidenav .card-image {
  display: flex;
  align-items: center;
}

.sidenav .card-image img {
  height: auto;
}

.sidenav .card-content {
  line-height: 32px;
  font-size: 32px;
}

.sidenav .card-action {
  line-height: 16px;
  font-size: 16px;
  color: grey;
}

.sidenav .search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#search-results {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: white;
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  z-index: 10;
}

.collapsible-header a {
  color: rgba(0, 0, 0, 0.87);
}

.collapsible-header.no-space i {
  margin-right: 0;
}

.collapsible-header.no-space a {
  padding-left: 0 !important;
}

.collapsible-body .force-indent {
  padding-left: 15px;
}

/* JSdoc specific */

tt,
code,
kbd,
samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

h2,
h3.subsection-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 12px;
}

h5,
.container-overview .subsection-title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
}

.ancestors,
.attribs {
  color: #999;
}
.ancestors a,
.attribs a {
  color: #999 !important;
  text-decoration: none;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #950b02;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: #aaa;
}

.name,
.signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details {
  margin-top: 14px;
  border-left: 2px solid #ddd;
}
.details dt {
  width: 120px;
  float: left;
  padding-left: 10px;
  padding-top: 6px;
}
.details dd {
  margin-left: 70px;
}
.details ul {
  margin: 0;
}
.details ul {
  list-style-type: none;
}
.details li {
  margin-left: 30px;
  padding-top: 6px;
}
.details .object-value {
  padding-top: 0;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.params .name,
.props .name,
.name code {
  color: #4d4e53;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.disabled {
  color: #454545;
}

/* Highlightjs specific */

/*
red    #c82829
orange #f5871f
yellow #eab700
green  #718c00
aqua   #3e999f
blue   #4271ae
purple #8959a8
*/

.hljs {
  background: white;
}

.hljs-keyword {
  color: #4271ae;
}

.hljs-string {
  color: #f5871f;
}

.hljs-attr {
  color: #3e999f;
}

.hljs-comment {
  color: #718c00;
}

.hljs-class {
  color: #c82829;
}

.hljs-title.function_ {
  color: #eab700;
}

.hljs-ln tr {
  border-bottom: none;
}

.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

.hljs-ln-code {
  padding-left: 10px !important;
}
